
html, body {
    height: 100%;
    overflow: hidden;
  }

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    color: #ffffff;
    background-color: #212529;
    font-family: 'Hind', sans-serif;
    text-transform: uppercase;
  }

.app {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    line-height: 0;
}

.score {
    position: absolute;
    top: 20px;
    line-height: 1;
  }

.left {
    left: 20px;
  }

.right {
    text-align: right;
    right: 20px;
  }

.score span {
    font-size: 3.25rem;
  }
